*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url(../img/starWars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 40px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.audio-st {
  position: absolute;
  top: 1px;
  left: 1px;
}
h1::after {
  width: 30px;
  height: 30px;
  content: "\1F52B";
  position: absolute;
}

h1::before {
  width: 30px;
  height: 30px;
  content: "\1F52B";
  position: absolute;
  left: 110px;
}

.container {
  width: 1000px;
  height: 650px;
  color: rgb(230, 154, 14);
  text-align: justify;
  display: flex;
  justify-content: center;
  transform: perspective(505px) rotateX(50deg);
}
.animation-text {
  position: absolute;
  top: 0%;
  animation: starwars 30s linear 1s infinite;
  width: 766px;
}

@keyframes starwars {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
    transform: translateY(-2000px);
  }
}
