*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
}
a,
li {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  min-width: 1200px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  color: #ffffff;
}

.header-section {
  background-image: url(../img/backgroung-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_top {
  display: flex;
  justify-content: space-evenly;
  background: rgba(94, 93, 88, 0.6);
}

.header_logo {
  position: relative;
  padding: 26px 0;
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 48px;
}
.header_logo > img {
  margin-right: 6px;
}

.logo_h {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  left: 13px;
  text-transform: uppercase;
}
.color-tex-logo {
  color: #18cfab;
  font-weight: 700;
}

.navigator {
  display: flex;
}
.nav {
  padding-top: 49px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_nav_list {
  display: flex;
  margin: 0;
}

.header_nav_item {
  margin-right: 21.09px;
  opacity: 0.6;
}
.header_nav_item:hover > a {
  padding-bottom: 47px;
  color: #18cfab;
  border-bottom: 2px solid rgba(24, 207, 171);
}

.search_img {
  padding-top: 53px;
}
.search_img_icon {
  fill: #ffffff;
  opacity: 0.6;
  height: 14px;
  width: 19px;
}
.search_img:hover {
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(24, 207, 171, 0.6);
}
.search_img_icon:hover {
  fill: #18cfab;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > .text-the-ham {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
}
.text-the-ham > span {
  color: #18cfab;
}

.h1 {
  text-transform: uppercase;
  font-size: 78px;
  line-height: 1px;
}

.cont-text-grey {
  font-size: 34px;
  line-height: 1px;
  color: #d4d4d4;
}
.cont-button-buy {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 134px;
  margin-bottom: 259px;
}

.cont-green-butt {
  padding: 16px 25px;
  background-color: #18cfab;
  border-radius: 4px;
  border-top: 5px solid #ffffff;
  margin-right: 13px;
}

.cont-blue-butt {
  padding: 16px 18px;
  border-radius: 4px;
  border-top: 5px solid #ffffff;
  background-color: #00cbf6;
  margin-left: 13px;
}

.option {
  width: 100%;
}

.option-shapes {
  padding: 0;
  display: flex;
  margin-top: 8px;
}

.option-list {
  width: 100%;
  text-align: center;
}
.option-list-color {
  color: #18cfab;
  padding-top: 85px;
  background-color: #1c2a33;
}

.option-list-white {
  padding-top: 95px;
  background-color: #18cfab;
}

.h4-option {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 103px;
}

.h4-option-white {
  margin-top: 58px;
}

.h4-option-color {
  margin-top: 48px;
}
.main-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 83px;
  text-align: center;
}
.main-container-h3-text {
  position: relative;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.main-container-h3-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 535px;
  height: 1px;
  width: 79px;
  background-color: #18cfab;
}
.main-container-h3-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 62px;
  left: 548px;
  height: 1px;
  width: 79px;
  background-color: #18cfab;
}

.tabs {
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  display: flex;
}

.tabs-title {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
}
.tabs-title:hover {
  border: 1.5px solid #18cfab;
}

.tab {
  display: none;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;

  color: #777777;
  text-align: justify;
}
.tab > img {
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

.tab.is-active {
  display: flex;
}
.tabs-title.is-active {
  position: relative;
  text-align: center;
  background-color: #18cfab;
  color: #ffffff;
  border: none;
  /* margin-bottom: 0px; */
}

.tabs-title.is-active::after {
  position: absolute;
  content: "\25BC";
  display: inline-block;
  color: #18cfab;
  left: 51px;
  top: 65px;
}

.purchase-block {
  min-height: 476px;
  margin-top: 91px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/backrg-purchase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.purchase-block-h3 {
  margin-top: 38px;
  color: #18cfab;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.purchase-block-text {
  margin-top: 12px;
  margin-bottom: 62px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.filter-amazing-work {
  background-color: #e9edef;
}

.main-nav-filter {
  margin-top: 69px;
  margin-bottom: 71px;
}
.main-list-filter-items {
  display: flex;
  justify-content: center;
}

.filter-item {
  padding: 14px 15px 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  border: 1px solid #dadada;
  color: #777777;
  cursor: pointer;
}
.filter-item.is-checked {
  color: #18cfab;
  border: 2px solid #18cfab;
}
.filter-item:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
}
.filter-item:first-of-type {
  padding: 14px 28px 15px;
}

.filter-blocks {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 0px;
}

.hide-filter {
  display: none;
}

.filter {
  position: relative;
  cursor: pointer;
}
.filter:last-child {
  justify-content: baseline;
}

.filter-hov {
  position: absolute;
  top: 0px;
  background-color: #e9edef;
  width: 284px;
  min-height: 206px;
  border-top: 4px solid #18cfab;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.filter:hover .filter-hov {
  display: flex;
}

.main-filter-links {
  width: 40px;
  height: 41px;
  border: 1px solid #18cfab;
  border-radius: 30px;
  margin-top: 42px;
}

.filter-link {
  margin-left: 102px;
}

.main-filter-links:hover {
  background-color: #18cfab;
}
.main-filter-links:hover .filter-link-icons {
  display: none;
}

.main-filter-links:hover .link-square2 {
  display: block;
}
.main-filter-links:hover .link-square1 {
  display: block;
}

.filter-link-hov {
  margin-right: 96px;
  margin-left: 3px;
}

.filter-link-icons {
  margin: 12px 13px 11px 11px;
}
.link-square1 {
  display: none;
  bottom: 133px;
  right: 155px;
  position: absolute;
}

.link-square2 {
  display: none;
  position: absolute;
  top: 58px;
  right: 112px;
}
.filter-text {
  text-align: center;
}
.main-filter-h4 {
  margin-top: 23.82px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  color: #18cfab;
}
.main-filter-text {
  margin: 0px 0px 30.87px;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}

.filter-button {
  cursor: pointer;
  padding: 10.5px 29.5px;
  margin-top: 70px;
  margin-bottom: 99px;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #18cfab;
  outline: none;
  border: none;
  border-radius: 5px;
}

.button-plus {
  padding-right: 15px;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.breaking-news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 68px;
}
.breaking-news {
  margin-bottom: 131px;
}

.breaking-news-item {
  position: relative;
  text-align: start;
}

.breaking-news-item-link:hover .breaking-news-list-h4 {
  color: #18cfab;
}
.breaking-news-item-link:hover .breaking-news-list-date {
  background-color: #18cfab;
}

.breaking-news-list-h4 {
  margin: 0px 0px 0px 25px;
  font-weight: bold;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
}

.breaking-news-list-text {
  margin: 0px 0px 0px 25px;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
}

.breaking-news-list-date {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  width: 70px;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #203e38;
  color: #ffffff;
}

.carusel {
  min-width: 0%;
  min-height: 853px;
  background-image: url(../img/backgr-carusel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.carusel-container-h3-text {
  position: relative;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
}

.carusel-container-h3-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 535px;
  height: 1px;
  width: 79px;
  background-color: #18cfab;
}
.carusel-container-h3-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 62px;
  left: 548px;
  height: 1px;
  width: 79px;
  background-color: #18cfab;
}

.carusel-deisgn-elem {
  font-size: 91px;
  color: #18cfab;
}

.swiper-container {
  z-index: 0;
  margin: 0;
}
.swiper-wrapper {
  z-index: 0;
}
.swiper-slide > img {
  width: 155px;
  height: 154px;
  border-radius: 75px;
  border: 12px solid rgb(5, 72, 59, 0%);
  background-color: rgb(5, 72, 59, 60%);
  object-fit: cover;
}

.swiper-button-prev::after {
  content: "";
}
.swiper-button-prev {
  cursor: pointer;
  left: 289px;
}
.swiper-button-next::after {
  content: "";
}
.slaider-button {
  width: 31px;
  height: 31px;
  top: 477px;
  right: 289px;
  outline: none;
  border: 1px solid #bbbbbb;
  background: none;
  color: #bbbbbb;
  padding: 5px 9px 4px;
}
.slaider-button:hover {
  background-color: #18cfab;
}

.slaider-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 37px;
}
.slaider-user-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 0px;
}
.swiper-container-min {
  margin: 0 auto;
  width: 500px;
  padding: 20px 0 0px 5px;
}
.swiper-slide-min-img > img {
  cursor: pointer;
  width: 63px;
  height: 63px;
  border: 6px solid rgb(5, 72, 59, 0%);
  border-radius: 50px;
  margin: 38px 28px 0px;
  background-color: rgb(5, 72, 59, 60%);
  object-fit: cover;
}

.swiper-slide-thumb-active {
  opacity: 1;
  transform: translate3d(0px, -15px, 0px);
}

.footer {
  width: 100%;
  min-height: 121px;
  margin-top: 80px;
  background-color: #22353f;
}

.container-footer {
  width: 1160px;
  margin: 0 auto;
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.copyright-footer {
  color: #aeaeae;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.text-footer-color {
  color: #18cfab;
}
