body {
  background-image: url(../img/backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  width: 416px;
  margin: 0 auto;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: aliceblue;
}

.tabs {
  display: flex;
}

.tabs-title {
  margin-top: 20px;
  padding: 20px;
  background-color: #23201d;
  color: #eeeae2;
  cursor: pointer;
}
.tabs-title:hover {
  box-shadow: 0px 1px 14px 8px #ffffff;
  transform: scale(1.1);
}

.tab {
  display: none;
}

.tab.is-active {
  display: block;
}
.tabs-title.is-active {
  background-color: #937341;
  color: #23201d;
}
