*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}
h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.header {
  width: 100%;
  /* max-width: 1900px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: #313131;
  font-family: sans-serif;
}

.logo_img {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url(../img/logo-img\ 1.svg);
  margin-left: 26px;
  margin-right: 26px;
}

.logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;

  font-size: 22px;
  line-height: 30px;
  margin: 20px 0 20px 0;
}

.nav {
  width: 720px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin-right: 150px;
}

.list__item > a:hover {
  color: #14b9d5;
}

.list__item > a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 35px;
}

.search {
  display: block;
  width: 68px;
  height: 70px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_img {
  display: block;
  background-image: url(../img/screach.svg);
  width: 17px;
  height: 17px;
}

.container {
  width: 100%;
  /* max-width: 1900px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/back-img1.jpeg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position-y: -556px;
  background-position-x: -266px;

  padding-top: 142px;
  padding-bottom: 47px;
}

.h2-header {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: white;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 40px;
  margin-left: 14px;
}
.links > a {
  min-width: 170px;
  border: 1px solid none;
  border-radius: 4px;
  padding: 16px 19px 17px 19px;
  font-size: 18px;
  font-weight: 600px;
  line-height: 25px;
  text-align: center;
  margin-right: 20px;
  color: #ffffff;
}

.link1 {
  background-color: #89ca62;
}

.link2 {
  background-color: #14b9d5;
}

.popular__posts {
  widows: 100%;
  /* max-width: 1900px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.popular__posts > h2 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 50px;
}

.posts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.posts > li {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
  background-color: white;
  color: #353a3d;
}

li > h5 {
  margin: 0;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post_item4 {
  margin-top: -120px;
}
.post_item6 {
  margin-top: -90px;
}

.btn-slide {
  cursor: pointer;
  background-color: rgba(10, 242, 87, 0.905);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.arrrow {
  fill: #fff;
  margin-right: 20px;
  transform: rotate(88deg);
}

.active > .arrrow {
  transform: rotate(-89deg);
}

.grid__box {
  display: grid;
  justify-content: center;
  width: 100%;
  /* max-width: 1900px; */
  background: linear-gradient(
      90deg,
      rgba(41, 41, 41, 0.5),
      rgba(41, 41, 41, 0.5)
    ),
    url(../img/back-img2.jpeg);
  height: 588px;
  background-size: cover;
  background-position-y: -36px;
  padding-top: 155px;
  padding-bottom: 150px;
}

.grid__box > h2 {
  width: 496px;
  justify-self: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.grid__box > h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 50px auto 10px auto;
  background-color: #18b4cf;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-items: center;
}

.top-rated {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  text-align: center;
  margin: 49px auto 52px;
}

.gallery {
  width: 100%;
  /* max-width: 1900px; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.gallery > img {
  width: 100%;
}

.most-liked-post {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 48px;
}

.most-liked-post > h2 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.grid-posts {
  width: 100%;
  /* max-width: 1900px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 277px 242px 242px 277px;
  grid-template-rows: 259px 418px 416px 258px;
  justify-content: center;
  grid-gap: 42px 35px;
}
.grid-posts {
  padding-left: 0;
}

.text-img {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
}

.grid-hotels {
  display: grid;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.grid-post1 {
  grid-column: 1/4;
}

.grid-post1 > h4 {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  text-align: end;
  padding-right: 10px;
}

.grid-post1 > p {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  padding-bottom: 30px;
}

.grid-post2 {
  grid-column: 4;
  justify-content: end;
}

.grid-post2 > h4 {
  justify-self: center;
  margin-top: 10px;
}

.grid-post3 {
  grid-column: 1/3;
}

.grid-post3 > h4 {
  align-items: flex-end;
  text-align: right;
  margin: 5px;
  padding-right: 9px;
}

.grid-post3 > p {
  width: 527px;
  align-items: center;
  text-align: right;
  justify-self: flex-end;
  padding: 0;
  padding-right: 14px;
}

.grid-post4 {
  grid-column: 3/5;
  justify-content: end;
}

.grid-post4 > p {
  width: 527px;
  justify-self: flex-end;
  padding: 0;
  padding-right: 14px;
}

.grid-post4 > h4 {
  align-items: flex-end;
  text-align: right;
  margin: 5px;
  padding-right: 9px;
}

.grid-post5 {
  grid-column: 1/3;
}

.grid-post5 > p {
  width: 527px;
  align-items: center;
  text-align: right;
  justify-self: flex-end;
  padding: 0;
  padding-right: 14px;
}

.grid-post5 > h4 {
  align-items: flex-end;
  text-align: right;
  margin: 5px;
  padding-right: 9px;
}

.grid-post6 {
  grid-column: 3/5;
  justify-content: end;
}

.grid-post6 > p {
  width: 527px;
  justify-self: flex-end;
  padding: 0;
  padding-right: 14px;
}

.grid-post6 > h4 {
  align-items: flex-end;
  text-align: right;
  margin: 5px;
  padding-right: 9px;
}

.grid-post7 > h4 {
  justify-self: center;
  margin-top: 10px;
}

.grid-post8 {
  grid-column: 2/5;
}

.grid-post8 > h4 {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  text-align: end;
  padding-right: 10px;
}

.grid-post8 > p {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  padding-bottom: 30px;
}

.footer {
  display: grid;
  width: 100%;
  max-width: 1900px;
  grid-template-columns: 50% 1fr;
  margin-top: 71px;
  padding: 10px;
  background-color: #000000;
  color: white;
  justify-content: center;
}

.footer__copyright {
  font-size: 13px;
  line-height: 13px;
  justify-self: flex-end;
  align-self: center;
}

.footer-logo {
  justify-self: flex-end;
  margin-right: 96px;
  align-self: center;
}

.btn-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.scrollTop {
  /* display: none; */
  cursor: pointer;
  width: 70px;
  fill: rgba(133, 133, 133, 0.474);
  transform: rotate(90deg);
}
