body {
  margin: 200px 400px;

  background-image: url(../img/background.png);
  object-fit: cover;
}

li {
  color: rgb(255, 255, 255);
  font-size: 50px;
  list-style: none;
}

button {
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.3);
}
