*,
*::after,
*::before {
  box-sizing: border-box;
}
.page-body {
  font-family: monospace, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.571;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-menu {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: red;
}
.mein-menu-link1 {
  padding-left: 330px;
}
.mein-menu-link2 {
  padding-left: 72px;
}
.mein-menu-link3 {
  padding-left: 72px;
}
.mein-menu-link4 {
  padding-left: 50px;
  padding-right: 330px;
}

.main-menu-item {
  display: inline-block;
  vertical-align: middle;
  padding-top: 25.5px;
}

.page-main {
  max-width: 1280px;
  padding-top: 25.5px;
  padding-bottom: 49px;
  background-size: 1280px 789px;
}
.text-h2 {
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 27px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 48px;
  padding-left: 350px;
  padding-bottom: 38px;
}
p {
  font-family: monospace, sans-serif;
  font-size: 16px;
  color: #373737;
  text-align: center;
  letter-spacing: 2.4px;
  line-height: 26px;
  padding-bottom: 32px;
  padding: 0px 15px 32px 15;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 38px 550px;
  font-style: inherit;
  font-size: 16px;
  font-family: monospace, sans-serif;
  font-weight: bold;
  line-height: 12px;
  text-decoration: none;
  border: 20px solid red;
  background-color: red;
  color: white;
  border-radius: 4px;
  padding-left: auto;
}
.footer-text {
  margin-left: 500px;
  margin-right: 50px;
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align: right;
  letter-spacing: 2.4px;
  color: #373737;
}
