body {
  background-image: url(../image/backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
}

#info {
  display: none;
  border: 1px solid grey;
  color: grey;
  border-radius: 24px;
  width: fit-content;
  padding: 3px;
  margin: 10px;
  text-align: center;
}
.clearData {
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.price {
  font-size: x-large;
  color: blueviolet;
}

#input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

#input:focus {
  border-color: green;
  outline: none;
}

.error {
  border-color: red;
  outline: none;
}
