* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
.password-form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  width: 200px;
}

.inputs {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.fas {
  position: absolute;
  right: 25px;
  top: 30px;
  color: grey;
  cursor: pointer;
}
.fa-eye-slash {
  display: none;
}
.error {
  color: red;
  margin: 10px 0px;
  font-size: 24px;
  font-weight: bold;
  display: none;
}

#btn {
  width: 190px;
  cursor: pointer;
  border-radius: 4px;
  background-color: chartreuse;
  color: azure;
  border: none;
  outline: none;
  padding: 10px;
}
