body {
  background-image: url(../img/starwars.jpg);
}
ul {
  display: flex;
  justify-content: space-around;
}

li {
  margin: 5px;
  list-style: none;
  text-align: center;
}
h2 {
  color: rgb(173, 238, 135);
}
p {
  background-color: rgba(249, 249, 249, 0.1);
  color: rgb(121, 184, 242);
  border: 1px solid black;
  border-radius: 5px;
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(255, 255, 255, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
h3 {
  color: rgb(245, 245, 245);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
