*,
*::after,
*::before {
  box-sizing: border-box;
}
.page-body {
  width: 1480px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Roboto sans-serif;
}
a,
a[class],
ul[class] {
  text-decoration: none;
  list-style: none;
  color: black;
}
span {
  color: rgb(10, 207, 224);
}
.header__menu {
  display: flex;
  flex-direction: column;
  width: 1283px;
}
.logo__ramda {
  display: flex;
  align-self: flex-start;
  font-size: 80px;
  line-height: 94px;
  padding-left: 1px;
  color: black;
}
.menu {
  width: 1283px;
  display: flex;
  background-color: #35444f;
  font-size: 24px;
}
.menu__link1 {
  display: flex;
  min-width: 115px;
}
.menu__link {
  padding: 26px 33px 19px 33px;
  border-left: 0.5px solid white;
  display: flex;
  align-items: center;
}
.menu__link a {
  color: white;
}
.link5 {
  display: flex;
  padding-left: 100px;
}
.main__content {
  width: 1283px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}
.navigator {
  margin-top: 0;
  width: 330px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link__navigator {
  display: flex;
  align-self: flex-start;
  font-size: 27px;
  line-height: 27px;
  padding: 25px 0px 25px 0px;
}

.hover__links:hover {
  background-color: rgb(109, 103, 103);
}
.main__logo {
  width: 885px;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.content-box {
  display: flex;
  flex-wrap: wrap;
  width: 885px;
}
.text-page {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 1283px;
  font-size: 28px;
  line-height: 28px;
  border: 1px solid white;
  background-color: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}
.footer__nav {
  display: flex;
}
.footer__links {
  display: flex;
  margin: 0px;
}
.footer-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px;
}
.date__footer {
  padding-left: 100px;
}
