*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

body {
  background-image: url(../img/background\ 1.png);
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  width: 1366px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 18px;
  background-size: 100% 100%;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 46px;
  margin-right: 177px;
}
.header-info > a {
  padding-top: 19px;
}

.header-info :hover {
  color: #f26522;
}

.header_logo {
  margin-top: 51px;
  margin-left: 161px;
  display: grid;
  text-transform: uppercase;
  background-image: url(../img/logo-white.png);
  background-size: 53px 47px;
  background-repeat: no-repeat;
}

.header_logo:hover {
  background-image: url(../img/logo-orange.png);
  background-size: 53px 47px;
  background-repeat: no-repeat;
  color: #f26522;
}
.text-holidays {
  /* font-weight: bold;  для этого типа шрифта попадает в комментарии */
  margin-left: 8px;
  font-size: 18px;
  line-height: 18px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 30px;
  margin-left: 60px;
}

.text-milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 60px;
}

.main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__menu > .list__menu {
  position: relative;
  margin-right: 61px;
  list-style: none;
}

.link-img > img {
  display: block;
  object-fit: cover;
}

.list__menu:hover h5 {
  color: #f26522;
}

.animation-prace {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f26522;
  color: #ffffff;
  position: absolute;
  width: 300px;
}

.animation-prace::before {
  content: "\203a";
  position: relative;
  left: 122px;
  top: 23px;
  font-size: x-large;
  font-weight: 400;
  line-height: 14px;
}

.animation-prace > a {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  grid-column: 2/2;
  justify-self: center;
}

.animation-prace > .text-money {
  grid-column: 1;
  font-size: 20px;
  line-height: 20px;
  margin: 0px 0px 12px 16px;
}

.form {
  grid-row: 1;
  font-size: 10px;
  line-height: 10px;
  margin: 7px 0px 8px 16px;
}

.list__menu div {
  display: none;
}

.list__menu:hover > .animation-prace {
  bottom: 78px;
  display: grid;
}

.footer-text {
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
