*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery {
  width: 900px;
  margin: 50px auto;
  text-align: center;
}
#gallery .photos img {
  width: 100%;
  display: none;
}

#gallery .photos img:first-child {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons > input {
  cursor: pointer;
  background-color: blueviolet;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: aliceblue;
  font-size: 18px;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  outline: none;
}
.play {
  margin-left: 15px;
  display: none;
}
